body {
    background-image: url("tausta.jpg");
    background-color:hwb(240 98% 1%);
    color: #0b0b0b;
    font-family:Arial, sansserif;
    font-size:90%; 
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    }

    h1 {
        font-size: 20px;
        border-style: solid;
      }

    ul {
        list-style-type: square;
      }

    ol {
        list-style-type: upper-alpha;
    }

    .kuvaus {
        border: dotted;
        border-width: 2px;
        width: 100px;
        height: 100px;
    }


p {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #e3c5eb;
    font-size: 12px;
    color: #0b0b0b;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}


.vertical-navigation {
    list-style-type: none;
    margin-left: 0px;
    margin-right: 40px;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    float: left;
    }


#horizontal-navigation li {
    display: inline;
}


.horizontal-navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    float: left;
}

/* commented out, trying to find a solution for only one list
li {
    display: inline;
}
*/


#next-to-nav {
    width: 75%;
    float: right;
    margin-left: 0px;
}    